* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: beige;
    padding-top: 8px; /* 确保内容不被固定头部遮挡 */
}

header {
    background-color: #231c1acb;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* 确保头部在最上层 */
}

h1 {
    color: cornflowerblue;
    position: absolute;
    left: 3vw;
    line-height: 80px;
}

section {
    height: 100vh;
}

header ul {
    position: absolute;
    right: 2vw;
    top: 0;
    line-height: 85px;
}

header a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* 添加过渡效果 */
}

header a:hover {
    text-decoration: underline;
    color: #006aff; /* 悬停时改变颜色 */
}

header li {
    display: inline;
    margin-right: 2vw;
}

main {
    padding: 20px;
    margin-top: 80px; /* 确保内容不被固定头部遮挡 */
}

.title {
    margin-top: 40px;
    font-size: 40px;
}

.block {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px gray;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加过渡效果 */
}

.block:hover {
    transform: translateY(-5px); /* 悬停时向上移动 */
    box-shadow: 0px 12px 24px gray; /* 悬停时增加阴影 */
}

.download-button {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    align-self: flex-end; /* 使按钮靠右对齐 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.download-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #231c1acb;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

footer a, footer span {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease; /* 添加过渡效果 */
}

footer a:hover {
    text-decoration: underline;
    color: #00a6ff; /* 悬停时改变颜色 */
}

.Tools {
    /* height: 200px; */
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px gray;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加过渡效果 */
}

.Tools:hover {
    transform: translateY(-5px); /* 悬停时向上移动 */
    box-shadow: 0px 12px 24px gray; /* 悬停时增加阴影 */
}

.Direct X{

}